*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.section {
    padding: 60px 0;
    scroll-margin-top: 92px;
    
}

h4 {
    color: #52565E;
}
a{
    text-decoration: none;
}
.hero{
    background:  linear-gradient(90deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/hero-carousel-1.jpg);
}
.hero-bg-all{
    background:   linear-gradient(90deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/page-title-bg-about.jpg);
    width: 100%; 
}
.hero h2 {
    color: white;
}
.hero p {
    color: rgba(255, 255, 255, 0.61);
}
.logo span{
    font-size: px;
    font-weight: 700;
    color: yellow;
    letter-spacing: 1px;
}
.logo h1{
    color: white;
    font-size: 24px;
    margin-bottom: 0;
}
.hero a {
    color: white;
}
.btn-get-started{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 40px;
    border-radius: 50px;
    border: 2px solid #feb900;
    margin-bottom: 20px;
    transition: all ease-out 0.8s;
}
.btn-get-started:hover{
    background-color: #FEB900;
    color: white;
}
.sec-2 h3{
    font-size: 36px;
    font-weight: 700;
    color: #52565E;
}
.sec-2 p{
    font-size: 14px;
    color: #52565E;
}
.form-1{
    background-color: rgb(250, 250, 250);
    padding: 30px;
}
.form-1 h3{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #52565E;
}
.form-1 p {
    font-size: 14px;
    margin-bottom: 20px;    
    color: #52565E;
}
.form-1 button{
    color: white;
    background-color: #FEB900;
    border: 0;
    padding: 10px 30px;
    border-radius: 4px;
}
.section-title{
    padding-bottom: 60px;
}
.section-title h2{
    font-size: 32px;
    font-weight: 700;
}
.section-title p {
    font-size: 16px

}
.card-bg{
    min-height: 300px;
    position: relative;
}
.card-bg img{
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
}
.constructions .card-body{
    padding: 30px;
}
.card-item{
    border: 1px solid #ddd;
}
.constructions .card-title{
    font-weight: 700;
    font-size: 20px;
    color: #364d59;
}
.title-2{
    color: #364d59;
}
.z-index{
    z-index: 999;
}

/* //////////////////////////////// */

.readmore{
    text-decoration: none;
    color: #364d59;
    transition: all 0.3s;
}
.service-item{
    padding: 30px;
    box-shadow: 0px 0 30px color-mix(in srgb, var(--default-color), transparent 90%);
    background-color: white;
}
.service-item h3{
    font-size: 22px;
    border-bottom: 4px solid #ebebec;
    margin: 0 0 20px 0;
    transition: all 0.3s;
}
.service-item:hover h3 {
    border-bottom:4px solid #feb900;
}
.service-item .icons {
    font-size: 55px;
    color: #52565E;
}
.mou::before{
    content: '';
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #52565e1e;
    transition: all 0.3s;
}
.service-item:hover .mou::before{
    border-radius: 100%;
    background-color: #FEB900;
}
.service-item:hover .readmore{
    color: #FEB900;
}
.service-item:hover .border-bottom{
    color: #FEB900;
}
.linea::before {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #FEB900;
    display: inline-block;
    margin: 0 15px 10px 0;
}
.linea::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #FEB900;
    display: inline-block;
    margin: 0 0px 10px 15px;
}

/* ///////////////////////////////////////////////////////////////////// */

.alt-services .features-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    inset: 0;
}
.alt-services .icon-box i{
    color: #feb900;
    background-color: #ffffff;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-right: 25px;
    font-size: 28px;
    width: 56px;
    height: 56px;
    border-radius: 4px;
    line-height: 1px;
    box-shadow: 0px 0px 60px -17px black;
    margin-top: 10px;
    transition: all 0.5s;
}
.alt-services  h4 a{
    font-size: 18px;
    color: #52565E;
   text-align: center;
   transition: all 0.5s;
}
.alt-services p{
    color: #52565E;
}
.alt-services  .icoh:hover .icon-box  i {
    color: wheat;
    background-color: #FEB900;
}
.alt-services .icoh:hover h4 a {
    color: #FEB900;
} 
.stretched-link::after{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: '';
}
.alt-services h3::after {
    content: "";
    background: #FEB900;
    /* position: absolute; */
    display: block;
    width: 50px;
    height: 3px;
    left: 0;
   margin-top: 20px;
   margin-bottom: 15px;
}
/* ///////////////////////////////////////////////// */
.features .nev-link {
    color: #52565e;
    padding: 15px 0;
    height: 100%;
    border-bottom: 4px solid #feb900;
    
}
.features .nev-link h4{
    text-align: center;
}
.tab-pane .h3{
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.features .tab-pane ul li{
    padding-top: 10px;
}

/* ///////////////////////////////////////////// */
.projects .portfolio-filters li{
    display: inline-block;
    padding: 0;
    font-size: 18px;
    font-family: 500;
    margin: 0 10px;
    margin-bottom: 5px;
    color: #52565E;
    cursor: pointer;
    transition: all 0.5s;
}
.projects .portfolio-filters .filter-active{
    color: #FEB900;
}
.projects .portfolio-filters li:hover{
    color: #FEB900;
}
/* //////////////////////////////////////////////// */
.recent-blog-posts .post-item .post-date{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #feb900;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 12px;
    font-weight: 500;
}
.recent-blog-posts .post-item .post-title {
    color: #52565E;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
    margin-bottom: 15px;
}
.recent-blog-posts .post-item .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    color:#52565e8a ;
}
.post-item:hover .post-content h3 {
    color: #feb900;
}
.post-item:hover .post-content .readmore{
    color: #FEB900;
}
.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid white ;
    /* font-size: 16px; */
    color: white;
    margin-right: 10px;
    transition: 0.3s;
    text-decoration: none;
}
.social-links .icont:hover {
    border-color: #FEB900;
    color: #FEB900;
}
.social-links .iconf:hover {
    border-color: #FEB900;
    color: #FEB900;
}
.social-links .iconi:hover {
    border-color: #FEB900;
    color: #FEB900;
}
.social-links .iconl:hover {
    border-color: #FEB900;
    color: #FEB900;
}
.footer .footer-about .logo-1  {
    color: white;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}
.footer-links li a {
    transition: all 0.3s;
    color: white    ;
}
.footer-links li a:hover{
    color: #feb900;
}
.hero-f{
    background:  linear-gradient(90deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/footer-bg.jpg);

}

/* ////////////////////////     about page     //////////////////////// */

.page-title .breadcrumbs ol li+li::before {
    content: "/";
    display: inline-block;
    padding-right: 10px;
    color: white;
    padding-left: 10px;
}
.page-title {
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 160px 0 60px 0;
    text-align: center;
    position: relative;
}
.page-title .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}


/* ////////////////////// */

.about .about-img img{
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}
.about .inner-title {
    max-width: 65%;
    margin: 0 0 80px 0;
}
.about .our-story {
    padding-right: 35%;
}
.about .our-story {
    padding: 40px;
    background-color: 
color-mix(in srgb, var(--default-color), transparent 96%);
}
.about .about-img {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 600px;
}
.about .inner-title {
    font-size: 2.75rem;
    font-weight: 700;
    margin: 30px 0;
}
.about .our-story {
    padding-right: 35%;
    background-color: #52565e0e;
}
.about .our-story h4 {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #96A3A9;
}
.about .our-story h3 {
    font-size: 2.25rem;
    font-weight: 700;
    color: #5C7079;
}
.about .our-story p {
    font-size: 16px;
    margin: 0 0 16px;
    color: #364D59;
}
.about ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}
.about ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
}
.about ul i {
    font-size: 1.25rem;
    margin-right: 0.5rem;
    line-height: 1.2;
    color: #FEB900;
}
.about .watch-video i {
    font-size: 2rem;
    transition: 0.3s;
    color: #FEB900;
}
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}
.about .watch-video a {
    font-weight: 600;
    color: #5C7079;
    margin-left: 8px;
    transition: 0.3s;
}
.about .watch-video a:hover{
    color: #FEB900;
}
.stats-counter .stats-item {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    padding: 30px;
}
.stats-counter .stats-item i {
    color: #feb900;
    font-size: 42px;
    line-height: 0;
    margin-right: 20px;
}
.stats-counter .stats-item span {
    color: #52565E;
    font-size: 36px;
    display: block;
    font-weight: 600;
}
.stats-counter .stats-item p {
    padding: 0;
    margin: 0;
    font-family: 52565e;
    font-size: 16px;
}
.alt-services-2 .icon-box i {
    color: #feb900;
    margin-right: 15px;
    font-size: 24px;
    line-height: 1.2;
}
.alt-services-2 .icon-box h4 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
}
.alt-services-2 .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.alt-services-2 .features-image {
    position: relative;
    min-height: 400px;
}
.alt-services-2 .features-image img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.team .member .member-img {
    margin: 0 80px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.team .member .member-img img {
    position: relative;
    z-index: 1;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 6px;
    font-size: 18px;
}
.team .member .member-info span {
    font-style: italic;
    display: block;
    font-size: 15px;
    color: #86949B;
    margin-bottom: 10px;
}
.page-title h1 {
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 10px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.contact .info-item {
    padding: 20px 0 30px 0;
    box-shadow: 0px 0px 20px 10px  #f4f5f7;
}
.contact .info-item i {
    color: #feb900;
    width: 56px;
    height: 56px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    border: 2px dotted #feb900;
}
.contact .php-email-form input[type=text], .contact .php-email-form input[type=email], .contact .php-email-form textarea {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: #364d59;
    box-shadow: 0px 0px 20px 10px  #f4f5f7;
    border-color: #364d5925;
}
.contact .php-email-form {
    height: 100%;
    padding: 30px;
    box-shadow: 0px 0px 20px 10px  #f4f5f7;
}
.contact .php-email-form button[type=submit] {
    color: white;
    background: #feb900;
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 4px;
}
@media(max-width : 768px){
    .nav1{
        visibility: hidden;
    }
}
.navedit ul li a{
    color: white;
    /* display: block; */
    /* padding: .5rem 1rem; */
    text-decoration: none;
    transition: all 0.08s;
}
.navedit ul li {
    padding: 0;
}
.navedit ul li a:hover{
    border-bottom: 2px solid #feb900;
 
}
.navbar-expand-lg .navbar-nav .nav-link a{
    padding: 0;
    margin: 0;
}